altgraph==0.17.5
attrs==25.4.0
bidict==0.23.1
bottle==0.13.4
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
contourpy==1.3.3
cycler==0.12.1
flit_core==3.12.0
fonttools==4.61.1
idna==3.11
importlib_resources==6.5.2
joblib==1.5.3
jsonmerge==1.9.2
jsonpickle==4.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
loeric @ file:///home/marco/git/loeric/dist/loeric-2.0.0-py2.py3-none-any.whl#sha256=3236309014579609f9aecbe6e18f5f019e04f213e0103cf6112701eedee5f29e
matplotlib==3.10.8
miditoolkit==1.0.1
mido==1.3.3
more-itertools==10.8.0
music21==9.9.1
muspy==0.5.0
nanoid==2.0.0
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pillow==12.1.1
pretty_midi==0.2.11
PyAudio==0.2.14
pycparser==3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.0
pyparsing==3.3.2
pypianoroll==1.0.4
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-rtmidi==1.5.8
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
scipy==1.17.0
setuptools==82.0.0
six==1.17.0
sounddevice==0.5.5
tinysoundfont==0.3.7
tqdm==4.67.3
tzdata==2025.3
urllib3==2.6.3
webcolors==25.10.0
