attrs
bidict
bottle
build
certifi
chardet
charset-normalizer
contourpy
cycler
flit_core
fonttools
idna
joblib
jsonmerge
jsonpickle
jsonschema
jsonschema-specifications
kiwisolver
matplotlib
miditoolkit
mido
more-itertools
music21
sounddevice
aubio
setuptools
muspy
nanoid
numpy
packaging
pandas
pillow
pretty_midi
PyAudio
pyparsing
pypianoroll
pyproject_hooks
python-dateutil
python-rtmidi
pytz
PyYAML
referencing
requests
rpds-py
scipy
setuptools
six
tinysoundfont
tqdm
tzdata
urllib3
webcolors
